@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins_Light';
    src: url(./fonts/Poppins-Light.ttf);
}

*{
    margin:0%;
    font-family:'Poppins';
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    background-color: white;
}

p{
    font-family: 'Poppins_Light';
    font-weight: 800;
}

.Cabecalho{
    color: white;
    background-color: #5271ff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1%;
    padding: 1rem;
    width: 100%;
}

h1{
    font-size: xx-large;
    text-transform: uppercase;
}

.SubTitulo{
    font-size: large;
}

#Logo{
    width: 8rem;
    border-radius: 50%;
    margin-left:1rem ;
}

#Link-Logo{
    text-align: center;
}

.Botao_Tema{
    width: 8rem;
    height: auto;
    cursor: pointer;
    padding: 0%;
    float: inline-end;
}

.Menu{
    width: 100rem;
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    float: right; 
    gap: 1.5rem;
    padding: 1rem;
    text-align: center;
    margin-block: 0;
}

a{
    text-transform: capitalize;
    text-decoration: none;
    color: inherit;
}

a:hover{
    color:rgb(192, 145, 236);
    transition: 0.25s;
}

.Rodape{
    position: relative;
    margin-top: 20%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #5271ff;
    color: white;
    display: flex;
    justify-content: center;
    gap: 1%;
}

i{
    font-family:"Poppins_Light";
    color: lightgrey;
}

#Senac{
    border-radius: 0;
    width: 10rem;
}